{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h3 class="text-center">Заявки</h3>
        {% if event.status == 5 %}
    
        <h3>Заявка удалена</h3>
        {% else %}

         <div class="form-group">
            <label class="form-label">ФИО</label>
            {% if event.name %}
                <input placeholder="Введите фио" disabled type="text" class="form-control" style="width: 300px" value="{{ event.name }}">
            {% else %}
                <input placeholder="Введите фио" disabled type="text" class="form-control" style="width: 300px">
            {% endif %}
        </div>
         <div class="form-group">
            <label class="form-label">Телефон</label>
            {% if event.phone %}
                <input placeholder="Введите телефон" disabled type="text" class="form-control" style="width: 300px" value="{{ event.phone }}">
            {% else %}
                <input placeholder="Введите телефон" disabled type="text" class="form-control" style="width: 300px">
            {% endif %}
        </div>
        <form method="post" action="{% url 'delete_event' event.id %}">
            {% csrf_token %}
                <button class="btn btn-danger delete-draft-event-btn" type="submit">
                    Удалить
                </button>
            </a>
        </form>
        <h4 class="text-center">Билеты</h4>
        <div class="cards-wrapper d-flex flex-column">
            {% for ticket in event.get_tickets %}
                <div class="card w-100 mb5">
                     <div class="row g-0">
                        <div class="col-md-6 d-flex justify-center">
                            <img src="{{ ticket.get_image }}">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{ ticket.name }}</h5>
                                <p class="card-text">Дата: {{ ticket.date }}</p>
                                <div class="form-group">
                                    <label class="form-label">Количество</label>
                                    {% if ticket.value %}
                                        <input placeholder="Введите количество" disabled type="text" class="form-control" style="width: 250px" value="{{ ticket.value }}">
                                    {% else %}
                                        <input placeholder="Введите количество" disabled type="text" class="form-control" style="width: 250px">
                                    {% endif %}
                                </div>
                                <a href="/tickets/{{ ticket.id }}/" class="btn btn-primary" style="width: 100px">
                                    Открыть
                                </a>
                            </div>
                        </div>
                     </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </main>
{% endblock content %}