{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <h1  class="text-center" style="font-weight: bold;">Заявка №ХХХ</h1>

        <span style="font-size: 25px; font-weight: bold;">ФИО: {{ event.name }}</span>
        <span style="font-size: 20px;">Телефон: {{ event.phone }}</span>

        <h3 class="text-center">Билеты</h3>

        <div class="cards-wrapper d-flex flex-column">

            {% for ticket in tickets %}

                {% include "ticket_card.html" %}

            {% endfor %}

        </div>

    </main>
{% endblock content %}