{% extends "base.html" %}

{% block content %}
    <main class="container">
        <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="хочу посетить ..." name="ticket_name" value="{{ ticket_name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-100 search-btn">поиск</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col md-4 justify-end">
                <a href="/events/{{ draft_event.id }}/" class="w-25">
                    <button type="submit" class="bin btn btn-primary position-relative w-100">
                        заявки
                        <div class="badge position-absolute badge rounded-pill">
                            {{ tickets_count }}
                        </div>
                    </button>
                </a>
            </div>
        </div>

        <h1 class="text-center mt-4">Выбери понравившееся тебе мероприятие и подай заявку</h1>

        <div class="cards-wrapper">
            {% for ticket in tickets %}
                {% include "ticket_card.html" %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}

