{% load static %}


{% if "http://localhost:8000/events/" in request.build_absolute_uri or "http://127.0.0.1:8000/events/" in request.build_absolute_uri %}

    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ ticket.image }}"  >
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title" >{{ ticket.name }} </h1>
                    <p class="card-text">Дата: {{ ticket.date }}</p>
                    <p class="card-text">Адрес: {{ ticket.addres }}</p>
                    <div class="form-group">
                        <label class="form-label">Количество</label>
                        <input disabled class="form-control" style="width: 150px" value="{{ ticket.count }}">
                    </div>
                    <a href="/tickets/{{ ticket.id }}/" class="btn btn-primary" style="width: 100px">
                        открыть
                    </a>
                </div>
            </div>
         </div>
    </div>

{% else %}

    <div class="card">

        <img src="{{ ticket.image }}" class="ticket-preview" alt=""/>

        <div class="card-body" >

            <div class="card-info">

                <h2 class="card-title" style="text-align: center; font-weight: bold;">{{ ticket.name }}</h2>

                <p class="card-text"> {{ticket.short_description}} </p>

                <p class="card-text">Дата: {{ ticket.date }}</p>

                <p class="card-text">Адрес: {{ ticket.addres }}</p>

            </div>

            <div class="card-btns">

                <a href="/tickets/{{ ticket.id }}/" class="btn btn-primary center">
                    подробнее
                </a>

            </div>

        </div>

    </div>

{% endif %}




