{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container ticket-page">

        <div class="row">
            <div class="col-6">
                <img src="{{ ticket.image }}" class="ticket-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">
                <h1 style="font-weight: bold;">{{ ticket.name }}</h1>

                <span>{{ ticket.description }}</span>

                <span>Дата: {{ ticket.date }}</span>

                <span>Адрес: {{ ticket.addres }}</span>
            </div>
        </div>

    </main>
{% endblock content %}